<!-- <form action="/users" method="post">
  <label for="uname">Username:</label>
  <input type="text" id="username" name="user[username]"><br>
  <label for="email">Email:</label>
  <input type="text" id="email" name="user[email]"><br>
  <label for="pword">Password:</label>
  <input type="password" id="password" name="user[password]"><br>
  <input type="submit" value="Submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
-->
<!-- <%= form_for :user, :url => {:action => "create"}  do |f|  %>
     <%= f.label :username %><br />
     <%= f.text_field :username %>

    <%= f.label :email %><br />
     <%= f.text_field :email %>
  
     <%= f.label :password %><br />
     <%= f.password_field :password %>

     <%= f.submit %>
 <% end %> -->

<!-- 
<%= form_tag users_path do %>
       <%= label_tag 'user_username', 'username' %>
       <%= text_field_tag :'user[username]'%><br>

       <%= label_tag 'user_email', 'email' %>
       <%= text_field_tag :'user[email]'%><br>
       
       <%= label_tag 'user_password', 'password' %>
       <%= password_field_tag :'user[password]'%><br>
       <%= submit_tag %>
<% end %>
-->
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do |f| %>
   <div>
     <%= f.label :username, 'Introduce your username' %><br />
 	<%= f.text_field :username, placeholder: "Your username" %>
   </div>
   <div>
    <%= f.label :email, 'Introduce your email' %><br />
       <%= f.text_field :email , placeholder: "Your email" %>
   </div>
   <div>
     <%= f.label :password, 'Introduce your password' %><br />
     <%= f.password_field :password  , placeholder: "Your password"%>
  </div>

     <%= f.submit %>
<% end %>

